* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blue;
}

.container {
    color: #ffffff;
    width: 60%;
    max-width: 1200px;
    margin: 100px auto;
    padding: 20px;
    border: solid 2px #ffffff;
    border-radius: 30px;
}